/* 
    Created on : Aug 8, 2017, 10:48:40 PM
    Author     : cccce
*/
.jfx-button{
    -fx-background-color : #1976D2;
    -fx-text-fill : white;
}

.jfx-button :hover {
    -fx-background-color : #388E3C;
}